<div id="root" class="h-full">
  React app loading...
</div>
<script>window.game = "<%= assigns[:game_id] %>";</script>
<script>window.token = "<%= assigns[:user_token] %>";</script>
<script>window.user = "<%= assigns[:current_user].id %>";</script>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/game.js") %>"></script>
