<div id="root">
    React app loading...
  </div>
  <script>window.game = "<%= assigns[:game_id] %>";</script>
  <script>window.token = "<%= assigns[:user_token] %>";</script>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/lobby.js") %>"></script>
  